*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    opacity: 0.9;
}
header img {
    margin-left: 10px;
    height: 50px;
}
header ul {
    margin: 0;
    padding: 0;
    display: flex;
}
header li {
    list-style: none;
}
header li a {
    text-decoration: none;
    color: seashell;
    padding: 1rem;
    display: block;
}
header li a:hover {
    color: rgb(151, 151, 189);
}
main {
    height: 700px;
    min-width: 1200px;
    background-image: url(./img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission-text {
    background-color: black;
    min-width: 1200px;
}
.mission-text h2 {
    display: flex;
    justify-content: center;
}
.mission-text h4 {
    display: flex;
    justify-content: center;
}
.featured h2{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.featured h4{
    display: flex;
    justify-content: center;
}
.trend-container {
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    padding-bottom: 50px;
}
.trend img {
    height: 200px;
    width: 300px;
    padding: 0 10px;
}
.trend h4 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.banner {
    height: 500px;
    min-width: 1200px;
    background-image: url(./img-locations-background.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: 1200px;
}
.text-top {
    font-size: 43px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.box-container {
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}
.box {
    height: 300px;
    width: 300px;
    padding: 20px;
    margin-bottom: auto;
    background-color: black;
}
.box h3, p {
    display: flex;
    justify-content: center;
}
.contact {
    height: 200px;
     
}
.contact h2, h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    padding-left: 20px;
}
